{% extends "base.html" %}

{% load static %}

{% block css %}
  <link type="text/css" rel="stylesheet" href=" {% static 'lightgallery/css/lightgallery.min.css' %}" />
{% endblock css %}

{% block content %}
<!--Section: Sales Performance KPIs-->
<section class="mb-4">
  <div class="card">
    <div class="card-header text-center py-3">
      <h5 class="mb-0 text-center">
        <strong>Panel {{ local.name }}</strong>
      </h5>
    </div>

    <div class="card-body">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible fade show alert-success" role="alert" data-mdb-color="warning" id="customxD">
            {{ message }}
            <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

      <br>
      <h3>
        Gerentes 
        {% if user.type_user == '1' %}
          <a href="{% url 'locals_app:manager-add' local.slug  %}" class="btn btn-primary px-3">Agregar <i class="fa-solid fa-plus ms-2"></i></a>
        {% endif %}
      </h3>
      <div class="table-responsive">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <td>Foto</td>
              <td>QR</td>
              <td>Dni</td>
              <td>Nombre completo</td>
              <td>Email</td>
              <td>Telefono</td>
              {% if user.type_user == '1' %}
                <td>Editar</td>
                <td>
                  Eliminar
                  <form id="delete_manager" action="" method="POST">
                    {% csrf_token %}
                  </form>
                </td>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for m in local.manager_set.all %}
              <tr class="lightgallery">
                <td>
                  <a href="/{{ m.manager.image }}" data-lg-size="1600-2400" class="custom-selector">
                    <img src="/{{ m.manager.image }}" alt="" width="50">
                  </a>
                </td>
                <td>
                  <a href="/{{ m.manager.qr }}" data-lg-size="1024-800" class="custom-selector">
                    <img src="/{{ m.manager.qr }}" alt="" width="50">
                  </a>
                </td>
                <td>{{ m.manager.dni }}</td>
                <td>{{ m.manager.get_full_name }}</td>
                <td>{{ m.manager.email|default_if_none:"-" }}</td>
                <td>{{ m.manager.phone|default_if_none:"-" }}</td>
                {% if user.type_user == '1' %}
                <td><a class="btn btn-warning px-3" href="{% url 'locals_app:manager-update' local.slug m.manager.pk %} "><i class="fas fa-edit"></i></a></td>
                  <td><button class="btn btn-danger px-3" onclick="DeleteManager('{% url "locals_app:manager-delete" local.slug m.pk %}', '#delete_manager')"><i class="fa-solid fa-trash"></i></button></td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <br>
      <h3>Empleados <a href="{% url 'locals_app:employee-add' local.slug %}" class="btn btn-primary px-3">agregar <i class="fa-solid fa-plus ms-2"></i></a></h3>
      <div class="table-responsive">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <td>Foto</td>
              <td>QR</td>
              <td>Dni</td>
              <td>Nombre completo</td>
              <td>Email</td>
              <td>Telefono</td>
              <td>Mes de Vencimiento</td>
              {% if renovate %}
                <td>Renovar</td>
              {% endif %}
              <td>Editar</td>
                <td>
                  Eliminar
                  <form id="delete_employee" action="" method="POST">
                    {% csrf_token %}
                  </form>
                </td>
            </tr>
          </thead>
          <tbody>
            {% for e in local.employee_set.all %}
              <tr class="lightgallery">
                <td>
                  <a href="/{{ e.employee.image }}" data-lg-size="1600-2400" class="custom-selector">
                    <img src="/{{ e.employee.image }}" alt="" width="50">
                  </a>
                </td>
                <td>
                  <a href="/{{ e.employee.qr }}" data-lg-size="1024-800" class="custom-selector">
                    <img src="/{{ e.employee.qr }}" alt="" width="50">
                  </a>
                </td>

                <td>{{ e.employee.dni }}</td>
                <td>{{ e.employee.get_full_name }}</td>
                <td>{{ e.employee.email|default_if_none:"-" }}</td>
                <td>{{ e.employee.phone|default_if_none:"-" }}</td>
                <td>{{ e.due_date|date:"F, Y" }}</td>
                {% if renovate %}
                  <td><a href="{% url 'locals_app:renovate' local.slug e.pk 2  %}" class="btn btn-success px-3"><i class="fa-solid fa-arrows-rotate"></i></a></td>
                {% endif %}
                <td><a class="btn btn-warning px-3" href="{% url 'locals_app:employee-update' local.slug e.employee.pk %} "><i class="fas fa-edit"></i></a></td>
                <td><button class="btn btn-danger px-3" onclick="DeleteManager('{% url "locals_app:employee-delete" local.slug e.pk %}', '#delete_employee')"><i class="fa-solid fa-trash"></i></button></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block js %}
  <script src="{% static 'lightgallery/js/lightgallery.min.js' %}"></script>
  <script>
    function DeleteManager(url, id){
      var result = confirm("Estas seguro?");
      if (result == true) {
        let delete_manager = document.querySelector(id)
        delete_manager.setAttribute('action', url)
        delete_manager.submit()
      }
    }
  </script>
  <script type="text/javascript">

    var lg = document.querySelectorAll('.lightgallery');
    for ( var i = 0; i < lg.length; i++ ) {
        lightGallery( lg[i], {
        selector: '.custom-selector'
      });
    }

</script>
{% endblock js %}

