{% extends "base.html" %}

{% block content %}
<!--Section: Sales Performance KPIs-->
<section class="mb-4">
  <div class="card">
    <div class="card-header text-center py-3">
      <h5 class="mb-0 text-center">
        <strong>Panel</strong>
      </h5>
    </div>

    <div class="card-body">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ local.name }}</h5>
          <p class="card-text">
            <img src="/{{ local.logo }}" alt="" width="80">
            <h3>{{ local.owner.get_full_name }}</h3>
            <h3>{{ local.phone }}</h3>
          </p>
        </div>
      </div>

      <br>
      <h3>
        Gerentes 
        {% if user.type_user == '1' %}
          <a href="{% url 'locals_app:manager-add' local.slug  %}" class="btn btn-primary px-3">Agregar <i class="fa-solid fa-plus ms-2"></i></a>
        {% endif %}
      </h3>
      <div class="table-responsive">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <td>Foto</td>
              <td>QR</td>
              <td>Nombre completo</td>
              <td>Email</td>
              <td>Telefono</td>
              {% if user.type_user == '1' %}
                <td>Editar</td>
                <td>
                  Eliminar
                  <form id="delete_manager" action="" method="POST">
                    {% csrf_token %}
                  </form>
                </td>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for m in local.manager_set.all %}
              <tr>
                <td><img src="/{{ m.manager.image }}" alt="" width="50"></td>
                <td><img src="/{{ m.manager.qr }}" alt="" width="50"></td>
                <td>{{ m.manager.get_full_name }}</td>
                <td>{{ m.manager.email }}</td>
                <td>{{ m.manager.phone }}</td>
                {% if user.type_user == '1' %}
                <td><a class="btn btn-warning px-3" href="{% url 'locals_app:manager-update' local.slug m.manager.pk %} "><i class="fas fa-edit"></i></a></td>
                  <td><button class="btn btn-danger px-3" onclick="DeleteManager('{% url "locals_app:manager-delete" local.slug m.pk %}', '#delete_manager')"><i class="fa-solid fa-trash"></i></button></td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <br>
      <h3>Empleados <a href="{% url 'locals_app:employee-add' local.slug %}" class="btn btn-primary px-3">agregar <i class="fa-solid fa-plus ms-2"></i></a></h3>
      <div class="table-responsive">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <td>Foto</td>
              <td>QR</td>
              <td>Nombre completo</td>
              <td>Email</td>
              <td>Telefono</td>
              <td>Mes de Vencimiento</td>
              <td>Renovar</td>
              <td>Editar</td>
                <td>
                  Eliminar
                  <form id="delete_employee" action="" method="POST">
                    {% csrf_token %}
                  </form>
                </td>
            </tr>
          </thead>
          <tbody>
            {% for e in local.employee_set.all %}
              <tr>
                <td><img src="/{{ e.employee.image }}" alt="" width="50"></td>
                <td><img src="/{{ e.employee.qr }}" alt="" width="50"></td>
                <td>{{ e.employee.get_full_name }}</td>
                <td>{{ e.employee.email }}</td>
                <td>{{ e.employee.phone }}</td>
                <td>{{ e.due_date|date:"F, Y" }}</td>
                <td><a href="{% url 'locals_app:renovate' e.pk 2  %}" class="btn btn-success px-3"><i class="fa-solid fa-arrows-rotate"></i></a></td>
                <td><a class="btn btn-warning px-3" href="{% url 'locals_app:employee-update' local.slug e.employee.pk %} "><i class="fas fa-edit"></i></a></td>
                <td><button class="btn btn-danger px-3" onclick="DeleteManager('{% url "locals_app:employee-delete" local.slug e.pk %}', '#delete_employee')"><i class="fa-solid fa-trash"></i></button></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block js %}
  <script>
    function DeleteManager(url, id, url){
      var result = confirm("Estas seguro?");
      if (result == true) {
        let delete_manager = document.querySelector(id)
        delete_manager.setAttribute('action', url)
        delete_manager.submit()
      }
    }
  </script>
{% endblock js %}
