{% extends "layout.html" %}

{% load static %}

{% block css %}{% endblock css %}

{% block content %}
  <div class="lg:flex lg:h-full lg:flex-col">
    <header class="flex items-center justify-between border-b border-gray-200 py-4 px-6 lg:flex-none">
      <h1 class="text-lg font-semibold text-gray-900">
        <time datetime="2022-01">{{ local.name }} {{month_name}} {{year}}</time>
      </h1>
      <div class="flex items-center">
        {% if excel.is_excel %}
          <div class="flex items-center md:ml-2 rounded-md">
            <a
              href="{{ excel.es.url }}"
              class="flex items-center rounded-md border border-gray-300 bg-white py-2 pl-3 pr-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50"
            >Descargar Excel</a>
          </div>
        {% else %}
          <div class="flex items-center md:ml-2 rounded-md">
            <form action="{% url 'sales_app:generate_excel' local.slug month year %}" method="POST">
              {% csrf_token %}
              <button
                type="submit"
                class="flex items-center rounded-md border border-gray-300 bg-white py-2 pl-3 pr-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50"
                aria-expanded="false"
                aria-haspopup="true">Generar Excel</button>
            </form>
          </div>
        {% endif %}

        <div class="flex items-center md:ml-2 rounded-md">
          <form action="{% url 'sales_app:lock_month_su' local.slug month year %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="flex items-center rounded-md border border-indigo-300 bg-indigo-600 py-2 pl-3 pr-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700" aria-expanded="false" aria-haspopup="true">Bloquear</button>
          </form>
        </div>

        <div class="flex items-center md:ml-2 rounded-md">
          <form action="{% url 'sales_app:unlock_month_su' local.slug month year %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="flex items-center rounded-md border border-gray-300 bg-white py-2 pl-3 pr-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50" aria-expanded="false" aria-haspopup="true">Desbloquear</button>
          </form>
        </div>

        <div class="md:ml-2">
          <select form="date" id="month" name="month" class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            {% for m in months %}
              <option value="{{ forloop.counter }}" {% if forloop.counter == month %} selected{% endif %}>{{ m }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="md:ml-2">
          <select form="date" id="year" name="year" class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            {% for y in years %}
            <option value="{{ y }}" {% if y == year %} selected{% endif %}>{{ y }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="flex items-center md:ml-2 rounded-md">
          <form id="date" action="{% url 'sales_app:change_date' %}" method="GET">
            {% csrf_token %}
            <input type="hidden" name="local" value="{{ local.slug }}">
            <button type="submit" class="flex items-center rounded-md border border-green-300 bg-green-600 py-2 pl-3 pr-2 text-sm font-medium text-white shadow-sm hover:bg-green-700" aria-expanded="false" aria-haspopup="true">Cambiar fecha</button>
          </form>
        </div>

      </div>
    </header>

    <div class="shadow ring-1 ring-black ring-opacity-5 lg:flex lg:flex-auto lg:flex-col">
      <!--
      <div class="grid grid-cols-7 gap-px border-b border-gray-300 bg-gray-200 text-center text-xs font-semibold leading-6 text-gray-700 lg:flex-none">
        <div class="flex justify-center bg-white py-2">
          <span>M</span>
          <span class="sr-only sm:not-sr-only">on</span>
        </div>
        <div class="flex justify-center bg-white py-2">
          <span>T</span>
          <span class="sr-only sm:not-sr-only">ue</span>
        </div>
        <div class="flex justify-center bg-white py-2">
          <span>W</span>
          <span class="sr-only sm:not-sr-only">ed</span>
        </div>
        <div class="flex justify-center bg-white py-2">
          <span>T</span>
          <span class="sr-only sm:not-sr-only">hu</span>
        </div>
        <div class="flex justify-center bg-white py-2">
          <span>F</span>
          <span class="sr-only sm:not-sr-only">ri</span>
        </div>
        <div class="flex justify-center bg-white py-2">
          <span>S</span>
          <span class="sr-only sm:not-sr-only">at</span>
        </div>
        <div class="flex justify-center bg-white py-2">
          <span>S</span>
          <span class="sr-only sm:not-sr-only">un</span>
        </div>
      </div>
      -->
      <div class="flex bg-gray-200 text-xs leading-6 text-gray-700 lg:flex-auto">
        <div class="w-full grid grid-cols-6 grid-rows-5 {% if days|length > 28 %}!grid-rows-6{% endif %} gap-px">
          {% for d in days %}
            <div class="relative flex justify-between {% if not d.can_edit %}bg-indigo-200{% else %}bg-white{% endif %} py-2 px-3 h-24">
              {% if false %}
                <span class="font-semibold text-base"><time datetime="2022-01-01" class="flex h-6 w-6 items-center justify-center rounded-full bg-indigo-600 font-semibold text-white">{{ d.day }}</time></span>
              {% else %}
                <span class="font-semibold text-base"><time datetime="{{ year }}-{{ month }}-{{ d.day }}">{{ d.day }}</time></span>
              {% endif %}
              <div class="flex justify-between flex-col">
                <span>{{ d.sale_value }}</span>
                <span>{{ d.quantity_tickets }}</span>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
<script>
  let open_m = false
  let open_y = false
  let month = document.getElementById("month");
  let months = document.getElementById("months");

  let year = document.getElementById("year");
  let years = document.getElementById("years");

  month.addEventListener("click", () => {
    if (open_m) {
      months.classList.remove("block");
      months.classList.add("hidden");
      open_m = false
    } else {
      months.classList.remove("hidden");
      months.classList.add("block");
      open_m = true
    }
  });

  year.addEventListener("click", () => {
    if (open_y) {
      years.classList.remove("block");
      years.classList.add("hidden");
      open_y = false
    } else {
      years.classList.remove("hidden");
      years.classList.add("block");
      open_y = true
    }
  });
</script>
{% endblock js %}
